body {
    font-family: system-ui;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color:black;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 5px solid black;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    height: 80px;
    border-top: 2px solid white;;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
    border-bottom: 1px dashed #000000;
  }
  
  .past {
    background-color: #d3d3d393;
    color: black;
  }
  
  .present {
    background-color: #d694f0;
    color: black;
  }
  
  .future {
    background-color: #c2f7b8;
    color: black;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #19f7f7;
    color: rgb(8, 8, 8);
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
  .hourTime{
    text-align: right;
    font-weight: bold;
    border-top: black;
    border-top-style: dashed;
  }